button{
    background: white;
    color: black;
    border: none;
    height: 30px;
    margin-top: 1em;
    width: 100px;
    border-radius: 5px;
}

select{
    background: white;
    color: black;
    border: none;
    height: 30px;
    margin: 1em 0;
    width: 100px;
    border-radius: 5px;
    padding-left: 12px;
    width: 300px;
}

input, textarea{
    border: none;
    border-radius: 2px;
    height: 25px;
    padding-left: 5px;
    margin: 5px 0px;
}

.flexDisplayClass{
    display: flex;
    flex-direction: column;
}

.outerLoginConatiner{
    padding: 4em;
    border: 2px solid white;
    border-radius: 8px;
}

.customerRegistrationContainer{
    padding: 2em;
    width: 30%;
}

table {
    border-collapse: separate;
    border-spacing: 0 1em;
}

th, td {
  padding: 15px;
}

.centerHeading{
    text-align: center;
}